# Week 02 Class: Exercises

In this exercise, we will review python basics.

## Variables

### Create variables

Let's start with a very simple exercise of creating new variables



1.   Variable called var_a with value of 3
2.   Variable called var_b with value of 100
3.   String variable str_var_a with value of "GV918"
4.   String variable str_var_a with value of "Data for Social Data Science"

In [ ]:
var_a = 3
var_b = 100
str_var_a = "GV918"
str_var_b = "Data for Social Data Science"

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

### Variable operations



*   Add var_a and var_b
*   Subtract var_a from var_b
*   Multiply var_a and var_b
*   Divide var_b by var_a

In [ ]:
var_a + var_b

103

In [ ]:
var_a - var_b

-97

In [ ]:
var_a * var_b

300

In [ ]:
var_a / var_b

0.03

## Saving on Github

- Before going to the next section, let's save the work on github.

## Lists

### Create lists

1. Create a list, list_a, with values of 1, 3, 4, 5, 9, 2, 4.5
2. Create a list, list_b, with words from "this is a simple string list" 
  - You can type all or use `*.split` method

In [ ]:
list_a = [1, 3, 4, 5, 9, 2, 4.5]
list_b = [this, is, a, simple, string, list]

### Slicing lists

- From the first list, extract a sublist with elements of:
    -   1, 3, 4
    -   9, 2, 4.5
    -   4, 5, 9

## Manipulating lists

- Append an element (e.g. 100) to list_a
- Replace the second element of list_a to 12

### Concatenate lists

- Concatenate list_a and list_b
- Use `+`

### Copying lists

Do the following operations
- Assign `lsit_a` to `list_a2`
- Change the value of `list_a2[0]` to 7
- Check the value of `list_a` and `list_a2`

What do you find?

## Dictionary

- create a dictionary with the follwoing key-value pairs
    *   a: 10
    *   b: 20
    *   c: 70n
- add some new key and value

## (Optional) String operation

### Concatenation

Let's do some string operation

In [ ]:
str_1 = "Hello"
str_2 = "world"
str_3 = "!"

How to concateneate them to craete "Hello world?"
[https://www.w3schools.com/python/python_strings.asp](https://www.w3schools.com/python/python_strings.asp)

### Formatting

Read the section of **String Format** and try to generate "Today is 13-10-2020"

In [ ]:
year = 2020
month = 10
date = 13
fill_str = "Today is ..." ## this part has to be changed